html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	 animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	 animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.deck .card.show {
    font-size: 33px;
}

.deck .card.open.no-match {
    background-color: #e40202;
    -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
    
@media screen and (max-width: 400px){
    .deck{
        margin-top: 1em;
    }
    .deck, .win-container {
        width: 360px;
        min-height: 400px;
        padding: 10px;
    }
    .deck .card {
        height: 72px;
        width: 72px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-flex;
    margin: 0 5px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-flex;
}

.fa-star {
    color: rgba(170, 126, 205, 1);
}

.score-panel .timer {
    display: inline-flex;
    margin-left: 5%;
}

.minute {
    margin-left: 5%;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    display: inline-flex;
}

/*
 * Styles for the Modal
*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 41rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.modal-header {
    height: 50px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.modal-footer {
    border-top: 1px solid black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.game-values .stars {
    display: inline-flex;
}

.game-values .stars li {
    list-style: none;
    display: inline-flex;
}

.modal-content {
    text-align: center;
}

.time-played {
    margin-top: 30px;
}

.stars-achieved {
    margin-top: 0;
}

.moves-num > span {
    margin-left: 30px;
}

.time-played > span {
    margin-left: 40px;
}

.play-again-btn {
    background-color: #02ccba;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.play-again-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*
 * Media queries
*/

@media screen and (min-width: 567px) and (max-width: 700px) {
    .deck {
        width: 550px;
        min-height: 570px;
    }
    .deck .card {
        width: 110px;
        height: 110px;
    }
    .modal-content {
        width: 550px;
    }
}

@media screen and (min-width: 467px) and (max-width: 566px) {
    .deck {
        width: 450px;
        min-height: 470px;
        padding: 15px;
    }
    .deck .card {
        width: 95px;
        height: 95px;
    }
    .modal-content {
        width: 450px;
    }
}

@media screen  and (min-width: 401px) and (max-width: 466px) {
    .deck {
        width: 400px;
        min-height: 400px;
        padding: 15px;
    }
    .deck .card {
        width: 85px;
        height: 85px;
    }
    .modal-content {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .deck {
        width: 350px;
        min-height: 350px;
        padding: 15px;
    }
    .deck .card {
        width: 75px;
        height: 75px;
    }
    .score-panel {
        margin-left: 5%;
    }
    .modal-content {
        width: 350px;
    }
}

@media screen and (max-width: 466px) {
    .score-panel .restart {
        float: none;
    }
    .score-panel .timer {
        width: 80%;
        display: inline-block;
        margin-left: 0;
    }
    .deck .card.show,
    .deck .card.match {
        font-size: 28px;
    }
}
